IOT_LOGGING_LEVEL=INFO
KAFKA_bootstrap_servers=localhost:29092
KAFKA_ssl_ca_location=/absolute/path/to/project_root/cert/cacert.pem
KAFKA_ssl_certificate_location=/absolute/path/to/project_root/cert/producer.pem
KAFKA_ssl_key_location=/absolute/path/to/project_root/cert/prodcuer.key
KAFKA_TOPIC="local.iot.sensor.readings"
